In [123]:
import pandas as pd
import numpy as np

In [125]:
df_Data = [['Jayden Daniels','Commanders','QB','2024',17,355.82],['Derrick Henry','Ravens','RB','2016',17,336.4],['Jameson Williams','Lions','WR','2022',15,212.2],['Kyle Pitts','Falcons','TE','2021',17,131.2],['Tony Pollard','Titans','RB','2019',16,200.7],['Terry Mclaurin','Commanders','WR','2019',17,267.8],['Jaxon Smith-Njigba','Seahawks','WR','2023',17,253.0],['Justin Tucker','Ravens','K','2012',17,135.0]]
df_Columns = ['Name','Current_Team','Position','Year_Drafted','Games_Played','Total_Points']

In [127]:
Fantasy_df = pd.DataFrame(
    data = df_Data,
    columns = df_Columns)
print(Fantasy_df)

                 Name Current_Team Position Year_Drafted  Games_Played  \
0      Jayden Daniels   Commanders       QB         2024            17
1       Derrick Henry       Ravens       RB         2016            17
2    Jameson Williams        Lions       WR         2022            15
3          Kyle Pitts      Falcons       TE         2021            17
4        Tony Pollard       Titans       RB         2019            16
5      Terry Mclaurin   Commanders       WR         2019            17
6  Jaxon Smith-Njigba     Seahawks       WR         2023            17
7       Justin Tucker       Ravens        K         2012            17

   Total_Points
0        355.82
1        336.40
2        212.20
3        131.20
4        200.70
5        267.80
6        253.00
7        135.00

In [129]:
Fantasy_df.dtypes

Name             object
Current_Team     object
Position         object
Year_Drafted     object
Games_Played      int64
Total_Points    float64
dtype: object

In [131]:
Fantasy_df.head(3)

,Name,Current_Team,Position,Year_Drafted,Games_Played,Total_Points
0,Jayden Daniels,Commanders,QB,2024,17,355.82
1,Derrick Henry,Ravens,RB,2016,17,336.40
2,Jameson Williams,Lions,WR,2022,15,212.20

In [133]:
Fantasy_df.shape

(8, 6)

In [135]:
Fantasy_df.columns

Index(['Name', 'Current_Team', 'Position', 'Year_Drafted', 'Games_Played',
       'Total_Points'],
      dtype='object')

In [137]:
Fantasy_df['Name'] = Fantasy_df['Name'].str.upper()
print(Fantasy_df)

                 Name Current_Team Position Year_Drafted  Games_Played  \
0      JAYDEN DANIELS   Commanders       QB         2024            17
1       DERRICK HENRY       Ravens       RB         2016            17
2    JAMESON WILLIAMS        Lions       WR         2022            15
3          KYLE PITTS      Falcons       TE         2021            17
4        TONY POLLARD       Titans       RB         2019            16
5      TERRY MCLAURIN   Commanders       WR         2019            17
6  JAXON SMITH-NJIGBA     Seahawks       WR         2023            17
7       JUSTIN TUCKER       Ravens        K         2012            17

   Total_Points
0        355.82
1        336.40
2        212.20
3        131.20
4        200.70
5        267.80
6        253.00
7        135.00

In [139]:
Fantasy_df.columns = Fantasy_df.columns.str.lower()
print(Fantasy_df)

                 name current_team position year_drafted  games_played  \
0      JAYDEN DANIELS   Commanders       QB         2024            17
1       DERRICK HENRY       Ravens       RB         2016            17
2    JAMESON WILLIAMS        Lions       WR         2022            15
3          KYLE PITTS      Falcons       TE         2021            17
4        TONY POLLARD       Titans       RB         2019            16
5      TERRY MCLAURIN   Commanders       WR         2019            17
6  JAXON SMITH-NJIGBA     Seahawks       WR         2023            17
7       JUSTIN TUCKER       Ravens        K         2012            17

   total_points
0        355.82
1        336.40
2        212.20
3        131.20
4        200.70
5        267.80
6        253.00
7        135.00

In [141]:
Fantasy_df[Fantasy_df['year_drafted'] == '2019']

,name,current_team,position,year_drafted,games_played,total_points
4,TONY POLLARD,Titans,RB,2019,16,200.7
5,TERRY MCLAURIN,Commanders,WR,2019,17,267.8

In [143]:
Fantasy_df['average_points'] = Fantasy_df['total_points']/Fantasy_df['games_played']
print(Fantasy_df[['name','average_points']])

                 name  average_points
0      JAYDEN DANIELS       20.930588
1       DERRICK HENRY       19.788235
2    JAMESON WILLIAMS       14.146667
3          KYLE PITTS        7.717647
4        TONY POLLARD       12.543750
5      TERRY MCLAURIN       15.752941
6  JAXON SMITH-NJIGBA       14.882353
7       JUSTIN TUCKER        7.941176

In [145]:
Fantasy_df.sort_values('total_points', ascending = False)

,name,current_team,position,year_drafted,games_played,total_points,average_points
0,JAYDEN DANIELS,Commanders,QB,2024,17,355.82,20.930588
1,DERRICK HENRY,Ravens,RB,2016,17,336.40,19.788235
5,TERRY MCLAURIN,Commanders,WR,2019,17,267.80,15.752941
6,JAXON SMITH-NJIGBA,Seahawks,WR,2023,17,253.00,14.882353
2,JAMESON WILLIAMS,Lions,WR,2022,15,212.20,14.146667
4,TONY POLLARD,Titans,RB,2019,16,200.70,12.543750
7,JUSTIN TUCKER,Ravens,K,2012,17,135.00,7.941176
3,KYLE PITTS,Falcons,TE,2021,17,131.20,7.717647

In [147]:
print(Fantasy_df['position'].nunique())

5

In [149]:
print(Fantasy_df['current_team'].nunique())

6

In [151]:
print(Fantasy_df[['name','total_points']])

                 name  total_points
0      JAYDEN DANIELS        355.82
1       DERRICK HENRY        336.40
2    JAMESON WILLIAMS        212.20
3          KYLE PITTS        131.20
4        TONY POLLARD        200.70
5      TERRY MCLAURIN        267.80
6  JAXON SMITH-NJIGBA        253.00
7       JUSTIN TUCKER        135.00

In [153]:
Fantasy_df.drop(columns=['year_drafted'])

,name,current_team,position,games_played,total_points,average_points
0,JAYDEN DANIELS,Commanders,QB,17,355.82,20.930588
1,DERRICK HENRY,Ravens,RB,17,336.40,19.788235
2,JAMESON WILLIAMS,Lions,WR,15,212.20,14.146667
3,KYLE PITTS,Falcons,TE,17,131.20,7.717647
4,TONY POLLARD,Titans,RB,16,200.70,12.543750
5,TERRY MCLAURIN,Commanders,WR,17,267.80,15.752941
6,JAXON SMITH-NJIGBA,Seahawks,WR,17,253.00,14.882353
7,JUSTIN TUCKER,Ravens,K,17,135.00,7.941176

In [158]:
Numbers = pd.DataFrame(np.random.rand(20,5), columns=list('NKIPH'))
Numbers

           N         K         I         P         H
0   0.709149  0.300345  0.343219  0.190092  0.789484
1   0.229075  0.778727  0.874047  0.608809  0.042653
2   0.996940  0.551130  0.795138  0.704964  0.141228
3   0.889450  0.064028  0.908405  0.057277  0.290446
4   0.222008  0.197589  0.115185  0.406622  0.512772
5   0.890977  0.197303  0.991810  0.108702  0.503278
6   0.581993  0.792117  0.139258  0.218934  0.523432
7   0.808375  0.179858  0.542622  0.486124  0.841814
8   0.159241  0.452732  0.456246  0.136268  0.747602
9   0.584149  0.670053  0.604887  0.239435  0.393330
10  0.643491  0.788182  0.315690  0.274746  0.062782
11  0.805850  0.009076  0.487361  0.514122  0.315695
12  0.257514  0.204264  0.981781  0.959694  0.390954
13  0.097624  0.241639  0.971228  0.313289  0.145313
14  0.257577  0.417308  0.766852  0.787327  0.678060
15  0.222520  0.358592  0.796932  0.944619  0.441223
16  0.117066  0.159486  0.293129  0.982541  0.636905
17  0.195932  0.600829  0.876022  0.888063  0.020729
18  0.210260  0.937490  0.948500  0.935844  0.767313
19  0.575716  0.668878  0.245097  0.750112  0.280756

In [168]:
Numbers['K'].mean()

0.4284813320222337

In [173]:
Numbers['N'].median()

0.4166468191349938

In [180]:
Numbers['K'].std()

0.27731077170294055

In [182]:
Numbers['N'].var()

0.09239195698691281

In [184]:
Numbers['I'].max()

0.9918099141987317

In [188]:
Numbers['I'].min()

0.11518454175327086

In [201]:
print(Numbers.loc[11,'K'])

0.00907572602443607

In [205]:
print('This number is an outlier because it is so much smaller than everyother number in the DataFrame')

This number is an outlier because it is so much smaller than everyother number in the DataFrame

In [207]:
Numbers.describe()

               N          K          I          P          H
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.472745   0.428481   0.622670   0.525379   0.426288
std     0.303960   0.277311   0.303510   0.323431   0.262891
min     0.097624   0.009076   0.115185   0.057277   0.020729
25%     0.219071   0.197517   0.336336   0.234309   0.246895
50%     0.416647   0.387950   0.685869   0.500123   0.417277
75%     0.733325   0.669172   0.884118   0.812511   0.647194
max     0.996940   0.937490   0.991810   0.982541   0.841814